* {
  box-sizing: border-box; }

.container {
	height: 1000px;
	background-color: #d3d3d3;
	margin: 15px;
}

#main-content .home-tile {
	margin-top: 50px;
}

#menu-tile {
	text-align: center;
	font-weight: bold;
}